.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fekete háttér átlátszósággal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.7); /* Fehér keret átlátszósággal */
  border-top: 8px solid #007bff; /* Kék színű felső keret */
  border-radius: 50%;
  width: 100px; /* Szélesebb töltőikon */
  height: 100px; /* Magasabb töltőikon */
  animation: spin 1.5s linear infinite; /* Kis méretű és gyorsabb forgás */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
