@font-face {
    font-family: "Sacra";
    src: url(fonts/utilik/utilik-bold.ttf);
}
body{
    font-family: 'Sacra', Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    animation-name: anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

@keyframes anim {
    0% {color: red}
    25%{color: brown;}
    50% {color:maroon;}
    75%{color:crimson}
    100% {color: red;}
}