body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(45deg, cyan, rgb(61,149,238), green);
    background-repeat: no-repeat;
    height: 100vw;
    overflow-y: hidden;
}