.Title {
    text-align: center;
}

table, th, td {
    border: 1px solid;
    border-top: 0px;
  }

.TopTable {
    width: 100%;
    text-align: center;
}

.Pages {
    width: 20%;
}

h2 {
    color: #333;
}