
.CloudServiceModel {
    border: 0px;
}

.CSMimage {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 0px;
    max-width: 70%;
    height: auto;
}

td:last-child {
    width: 55%;
}

#hatrany{
color: crimson;
}
#elony{
color: greenyellow;
}