body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(45deg, cyan, rgb(61,149,238), green);
    background-repeat: no-repeat;
    height: 100vw;
}

.CloudServiceModel {
    border: 0px;
}

.CSMimage {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 0px;
    max-width: 70%;
    height: auto;
}

td:last-child {
    width: 55%;
}