body{
    background-size: cover;
    background-attachment: fixed;
    height:100%;
}

.PersonTable {
    border: 0px;
    width: 100%;
}

.PersonIMG1 {
    padding: 50px;
    height: auto;
    display: block;
    text-align: left;
}
#PersonImage1{
    width: 650px;
}
.PersonIMG2 {
    display: block;
    align-content: end;
    height: auto;
    text-align: right;
}
#PersonImage2{
    width: 650px;
}
.PersonIMG3 {
    padding: 50px;
    height: auto;
    display: block;
    text-align: left;
}
#PersonImage3{
    width: 650px;
}






/*
.PersonIMG1 {
    padding: 50px;
    height: 250px;
}
.PersonIMG2 {
    display: block;
    align-content: end;
    height: auto;
    text-align: right;
}
.PersonIMG3 {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100%;
    max-width: 100%;
    height: auto;
}
*/

.PersonDesc1 {
    text-align: right;
}

.PersonDesc2{
    text-align: left;
} 

.PersonDesc3{
    text-align: right;
}

td:nth-child(7){
    width: 100%;
}

p {
    font-size: 25px;
}
