body {
    font-family: Arial, sans-serif;
    margin: 20px;
    height: 100%;
}
.Title {
    text-align: center;
}

table, th, td {
    border: 1px solid;
    border-top: 0px;
  }

.TopTable {
    width: 100%;
    text-align: center;
    color: red;
}

.Pages {
    width: 20%;
    color: white;
    text-shadow: 10px;
}
a:link{
    color: firebrick;
}
a:hover{
    color: darkviolet;
}
a:visited{
    color: darkgreen;
}

h2 {
    color: #333;
}