#suliLogo{
    width: 15%;
    height: auto;
    border-radius: 50%;
}

#tananyagok{
    width: auto;
    height: 50px;
}
#tesztek{
    width: auto;
    height: 50px;
}
#csoportjaim{
    width: auto;
    height: 50px;
}
