.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-containerSmall {
    display: flex;
    flex-direction: row;
}

.flex-item {
    position: relative;
    flex: 1;
    text-align: center;
    position: sticky;
    top: 0;
}

.flex-item:first-child {
    text-align: end;
}

#kisHozza {
    margin-top: 10px;
}


.blackLine {
    position: absolute;
    right: 5px;
    top: 0px;
    bottom: 0;
    width: 3px;
    background-color: black;
}


.drawer {
    margin-right: 20px;
    width: auto;
    position: relative;
    top: 10px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
    z-index: 1;
    align-items: flex-end ;
    
}


.drawer span {
    padding: 8px 5px 20px 0px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    border-radius: 10px;
}

.drawer span:hover {
    border-radius: 10px;
    background-color: #f78f88;
    transition: background-color 0.3s; 
}

.subject-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #f2665c;
    max-width: 50%;
    cursor: default;
}

.subjectIMG {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left: 5px;
}

body {
    width: 100vw;
    height: 100vh;
}


.contente-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.flexcontente-item {
    flex: 1;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(235, 106, 106);
    border-radius: 10px;
}

.contente-box {
    border: 2px solid black;
    border-radius: 10px;
}

.contente-title {
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    text-align: left;
    width: 20em;
    margin-left: 5px;
    margin-top: 2px;
}

.contente {
    margin: 20px 0px 20px 0px;
    border: 2px solid #555050;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(70, 128, 23);
}


.contente-button {
    display: flex;
    justify-content: flex-end;
}

.detailsButton {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fa9005;
}

.detailsButton:hover {
    background-color: #fd8100;
    cursor: cell;
    border: 1px solid black;
    border-radius: 20px;
}
.post-date {
    bottom: 5px; 
    right: 5px; 
    padding: 5px; 
    background-color: #333; 
    color: #fff; 
    font-size: 12px; 
    font-style: italic; 
    border: 1px solid #555; 
    border-radius: 5px; 
    margin-left: 75%;
}


.drawer span,
#addNewsButton {
    position: sticky;
    top: 10px;
    z-index: 1;
}

#addNewsButton {
    position: absolute;
    top: 10px;
    right: 200px;
    cursor: cell;
}
.subject-container:first-child {
    margin-top: 10px;
    cursor: pointer;
}