.progressBar {
    border-radius: 5px;
    height: 10px;
    margin-bottom: 20px;
  }
  
  .progressBar .MuiLinearProgress-root {
    background-color: #ccc; /* A még nem megszerzett rész színe, például szürke */
    background: linear-gradient(to right, #4CAF50, #FFC107, #f44336); /* A progressz sáv gradiens színe */
  }
  