#tabla{
    margin-top: 50px;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    font-size: larger;
    color: tomato;
    }
.filmKep{
max-width: 30vw;
width: 30vw;
height: 30vw;
max-height: 30vw;
}