.formTable{
    width: 100%;
    text-align: center;
    padding-right: 40%;
    padding-left: 35%;
}

.formText{
    padding-top: 10px;
    padding-right: 50px;
    padding-right: 60px;
}

#textNev{
    width: 350px;
}
#textEmail{
    width: 350px;
}
#textTelefonszam{
    width: 350px;
}
#textTargy{
    width: 350px;
}

#gombKuld{
    cursor: pointer;
  }